.web-layout {
    font-family: "Segoe UI";
    font-weight: lighter;
    display: grid;
    grid-template-areas:
        "left right";
}

h1 {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: larger;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: larger;
}

hr {
    opacity: 30%;
}

button {
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: "Segoe UI";
}

/* info panel styling */
/*
*/
.info-panel {
    grid-area: left;
    margin-left: 100px;
    width: available;
}

.info-panel table {
    width: inherit;
}

.info-panel tr,td {
    padding-right: 20px;
    padding-bottom: 10px;
}

input {
    font-family: "Segoe UI";
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: 1px solid lightgray;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    opacity: 50%;
}

.info-panel .contact-info,
.info-panel .shipping-address {
    display: block;
    width: 100%;
}

.info-panel .footer {
    font-size: smaller;
    margin-top: 15px;
    margin-bottom: 20px;
}

.info-panel .footer a {
    margin-right: 20px;
    color: black;
}

/*summary panel styling*/
/*
*/
.summary-panel {
    grid-area: right;
    color: black;
    background: #f5f5f5;
    border: 2px solid #e6e6e6;
    padding-left: 50px;
    padding-right: 100px;
    margin-left: 50px;
    /*display: none;*/
}

.summary-panel .item-list {
    padding-top: 50px;
    display: block;
    width: 100%;
}

.summary-panel table {
    width: inherit;
}

.summary-panel td {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

.summary-panel .item-list img {
    width: 70px;
    height: 70px;
    background: white;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    display: inline-block;
}

.summary-panel .discount {
    width: 100%;
}

.summary-panel .price {
    width: 100%;
}