.gird{
    height: 476px;
    width: 370px;
    background-color: red;
    
}
.gird .gird1{
    background-image: url(dong1\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    height: 370px;
    
}